//.wrap {
//    top: 0;
//    position: absolute;
//}

.page-wrapper {
    display: flex;
    justify-content: center;
}

#fp-nav {
    //display: flex;
    display: none;
    align-items: center;
    //height: 100%;
    top: 0;
    //margin-top: 0 !important;
    margin-top: 20px !important;
    opacity: 0;
    visibility: hidden;
    //transition: opacity 1s ease-in, visibility 1s ease-in;

    .admin-bar & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    &.is-visible {
        opacity: 1;
        visibility: visible;
    }

    ul {
        li {
            //display: none;
            visibility: hidden;
            opacity: 0;
            height: 0;
            margin-top: 0;
            margin-bottom: 0;
            transition: visibility 0.2s linear, height 0.2s linear , opacity 0.2s linear , margin-top 0.2s linear, margin-bottom 0.2s linear;

            a.active {

                span {
                    height: 10px;
                    width: 10px;
                    margin: -5px 0 0 -5px;
                }
            }

            &.visible, &.next, &.prev {
                display: block;
                opacity: 1;
                visibility: visible;
                height: 15px;
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }

        li:only-child {
            display: none;
        }
    }

    &.fp-left {
        left: 15px;

        @include media-breakpoint-down(xs) {
            left: 3px;
        }
    }
}

#fullpage {
    position: relative;
    top: 0;

    .image-wrapper {
        transition: all 0.2s linear;

        .admin-bar & {
            margin-bottom: 32px;

            @media screen and (max-width: 782px) {
                margin-bottom: 46px;
            }
        }

        img {
            //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.15);
            transition: all 0.1s linear;
        }

        &.active {
            //transform: scale(1.03);

            img {
                //box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
                box-shadow: 0 0 0 2px rgba(204, 204, 204, 1);
            }

            .caption {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        .image-container {
            position: relative;
            display: inline-block;
        }
    }
}

.section-mobile, .section-desktop {
    .image-wrapper {
        .caption {
            position: absolute;
            width: 100%;
            //display: flex;
            display: none !important;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            z-index: 0;
            transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;

            .span {
                color: #555 !important;
                font-size: 13px;
                max-width: 310px;
                display: inline-block;
                text-align: center;
                padding: 0 20px;
            }
        }
    }
}

.section-mobile {
    display: none !important;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    //margin-top: -30px;

    .caption {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @include media-breakpoint-down(sm) {
        display: table !important;
    }

    .fp-tableCell {
        &.vertical-top {
            vertical-align: top;
        }
    }

    .content-container {

        &:first-child {
            padding-top: 100px;
        }

        &:last-child {
            padding-bottom: 100px;
        }

        .text-and-image-container {
            margin-bottom: 30px;

            .image-wrapper {
                margin: 0 !important;
            }
        }
    }

    .column-container {
        //max-width: 920px;

        .column-text-container {
            margin: 0 !important;

            .accordion-header {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding-top: 8px;
                padding-bottom: 10px;
                border-top: 1px solid #000;

                h3 {
                    font-weight: normal;
                    font-size: 22px;
                    margin: 0;
                }

                i {
                    margin-left: auto;
                    font-size: 28px;

                    &:after {
                        content: 'keyboard_arrow_up'
                    }
                }

                &[aria-expanded="true"] {
                    i {
                        &:after {
                            content: 'close'
                        }
                    }
                }
            }

            .accordion-body {
                padding: 20px 0;
            }
        }
    }

    .image-section-mobile-wrapper {
        padding: 50px 0;

        &:first-child {
            padding-top: 100px;
        }

        &:last-child {
            padding-bottom: 100px;
        }
    }

    .section-mobile-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-wrapper {
        position: relative;
        display: inline-block;

        img {
            max-height: 60vh;
            max-width: 90vw;
        }

        .hover-overlay {
            position: absolute;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 16px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s linear, visibility 0.2s linear, background-color 0.2s linear;
        }

        &.active {
            .hover-overlay {
                opacity: 0.7;
                visibility: visible;
            }
        }
    }
}

.section-desktop {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }

    .caption {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30%);
    }

    .content-container {
        padding-left: 7%;
    }

    .slide-content {
        position: relative;
        //height: 100%;


        height: 100%;
        margin-bottom: 0;
        //margin-top: 70px;

        .admin-bar & {
            height: calc(100% - 32px);
            margin-bottom: 32px;

            @media screen and (max-width: 782px) {
                height: calc(100% - 46px);
                margin-bottom: 46px;
            }
        }
    }

    .image-section {
        a {
            z-index: 100;
            //max-width: 90%;
            //width: auto;

            img {
                //width: 100%;
                max-height: 70vh;
                max-width: 100%;
                width: auto;
            }

            .hover-overlay {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-size: 16px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s linear, visibility 0.2s linear;
            }

            &.active {
                .hover-overlay {
                    opacity: 0.7;
                    visibility: visible;
                }
            }
        }
    }
}

.content-container {
    padding: 0 50px 50px;

    @include media-breakpoint-down(sm) {
        padding: 0 25px 25px;
    }

    &:first-child {
        padding-top: 100px;
    }

    .image-container {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    .column-container {
        max-width: 1100px;

        .column-text-container {
            margin-bottom: 50px;

            .image-container {
                img {
                    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !important;
                    transition: box-shadow 0.2s linear;
                }

                &:hover {
                    img {
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;
                    }
                }
            }
        }
    }
}

.iScrollVerticalScrollbar {
    display: none;
}
