//.wrap {
//    top: 0;
//    position: absolute;
//}

.page-wrapper {
    display: flex;
    justify-content: center;
}

#fp-nav {
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    margin-top: 0 !important;
    opacity: 0;
    visibility: hidden;
    //transition: opacity 1s ease-in, visibility 1s ease-in;

    &.is-visible {
        opacity: 1;
        visibility: visible;
    }

    ul {

        li {
            //display: none;
            visibility: hidden;
            opacity: 0;
            height: 0;
            margin-top: 0;
            margin-bottom: 0;
            transition: visibility 0.2s linear, height 0.2s linear , opacity 0.2s linear , margin-top 0.2s linear, margin-bottom 0.2s linear;

            &.visible, &.next, &.prev {

                display: block;
                opacity: 1;
                visibility: visible;
                height: 15px;
                margin-top: 7px;
                margin-bottom: 7px;


            }

            //a {
            //    display: none;
            //}
            //
            //a.active {
            //    display: block;
            //}
            //
            //a.next {
            //    display: block;
            //}
            //
            //a.prev {
            //    display: block;
            //}
        }

        li:only-child {
            display: none;
        }
    }

    &.fp-left {
        left: 15px;

        @include media-breakpoint-down(xs) {
            left: 3px;
        }
    }
}

#fullpage {
    position: relative;
    top: 0;

    //.admin-bar & {
    //    top: -32px;
    //
    //    @media screen and (max-width: 782px) {
    //        top: -46px;
    //    }
    //}

    .image-wrapper {
        transition: all 0.2s linear;

        img {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            transition: all 0.2s linear;
        }

        &.active {
            transform: scale(1.03);

            img {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
            }

            .caption {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        .image-container {
            position: relative;
            display: inline-block;
        }

        .caption {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-30%);
            transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;

            span {
                color: #555 !important;
                font-size: 13px;
                max-width: 390px;
                display: inline-block;
                text-align: center;
                padding: 0 40px;
            }
        }
    }
}

.section-mobile {
    display: none !important;
    position: relative;
    box-sizing: border-box;
    //margin-top: -30px;

    @include media-breakpoint-down(sm) {
        display: table !important;
        padding: 0 50px;
    }

    @include media-breakpoint-down(xs) {
        padding: 0 15px;
    }

    .section-mobile-inner {
        position: relative;
        //height: calc(100vh - 70px);
        //margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        //.admin-bar & {
        //    height: calc(100vh - 70px - 32px);
        //    margin-top: calc(70px + 32px);
        //
        //    @media screen and (max-width: 782px) {
        //        height: calc(100vh - 70px - 46px);
        //        margin-top: calc(70px + 46px);
        //    }
        //}
    }

    .image-wrapper {
        position: relative;
        //height: 100%;
        display: inline-block;

        img {
            //width: 100%;
            max-height: 60vh;
            max-width: 80vw;
        }

        .hover-overlay {
            position: absolute;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 16px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s linear, visibility 0.2s linear, background-color 0.2s linear;
        }

        &.active {
            .hover-overlay {
                opacity: 0.7;
                visibility: visible;
            }
        }
    }
}

.section-desktop {

    @include media-breakpoint-down(sm) {
        display: none !important;
    }

    .slide-content {
        position: relative;
        //height: 100%;


        height: 100%;
        margin-bottom: 0;
        //margin-top: 70px;

        .admin-bar & {
            height: calc(100% - 32px);
            margin-bottom: 32px;

            @media screen and (max-width: 782px) {
                height: calc(100% - 46px);
                margin-bottom: 46px;
            }
        }
    }

    &.image-section {

        a {
            z-index: 100;
            //max-width: 90%;
            //width: auto;

            img {
                //width: 100%;
                max-height: 70vh;
                max-width: 100%;
                width: auto;
            }

            .hover-overlay {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-size: 16px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s linear, visibility 0.2s linear;
            }

            &.active {
                .hover-overlay {
                    opacity: 0.7;
                    visibility: visible;
                }
            }
        }
    }
}
