# System files & folders
.npm
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
Thumbs.db
backups/

# IDE
.idea
.phpintel

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Keep Plugins
!web/app/mu-plugins/advanced-custom-fields-pro

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
