// Smart Photo Styles
@import '~smartphoto/scss/smartphoto.scss';

.smartphoto-img {
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0);
    cursor: url('../images/icon-magnifying-glass.png'), zoom-in;

    &.smartphoto-img-onmove {
        cursor: url('../images/icon-minifying-glass.png'), zoom-out;
    }
}

.smartphoto-content {
    //cursor: zoom-out;
    cursor: url('../images/icon-x.png'), zoom-out;
}

.smartphoto {
    background-color: #FFF;
    z-index: 300;

    .smartphoto-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        //height: 70px;
        background-color: transparent;
        //cursor: initial;
        cursor: url('../images/icon-x.png'), zoom-out;

        right: 0;
        left: initial;
        height: 300px;
        width: 300px;
        position: initial;

        .admin-bar & {
            top: 32px;

            @media screen and (max-width: 782px) {
                top: 46px;
            }
        }

        &-close {
            position: absolute;
            cursor: url('../images/icon-x.png'), zoom-out;
            z-index: 1000;

            &.top {
                top: 0;
                left: 0;
                height: 13%;
                width: 100%;
            }

            &.right {
                top: 0;
                right: 0;
                height: 100%;
                width: 13%;
            }

            &.bottom {
                bottom: 0;
                left: 0;
                height: 13%;
                width: 100%;
            }

            &.left {
                left: 0;
                top: 0;
                height: 100%;
                width: 13%;
            }

            //@include media-breakpoint-down(md) {
            //    &.top,  &.bottom {
            //        height: 150px;
            //    }
            //
            //    &.right, &.left {
            //        width: 150px;
            //    }
            //}
        }
    }

    .smartphoto-count {
        display: none;
    }

    .smartphoto-caption {
        //display: none;
        color: #000;
        top: auto;
        bottom: 0;
        left: 0;
        position: fixed;
        text-overflow: initial;
        white-space: initial;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: center;
    }

    .smartphoto-dismiss {
        display: none !important;
        left: initial;
        right: 0;

        @extend .material-icons;
        background-image: none;
        top: initial;
        outline: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        box-sizing: content-box;

        &:after {
            content: 'close';
            font-size: 30px;
            display: inline-block;
            float: left;
            color: #000;
        }
    }

    @include media-breakpoint-down(sm) {
        background-color: rgba(0, 0, 0, 0.8);

        .smartphoto-caption {
            color: #FFF;
        }

        .smartphoto-dismiss {
            &:after {
                color: #FFF;
            }
        }
    }
}
