// User Functions, Mixins
$base-font-size: 16px;
$base-font-size-mobile: 16px;

// Calculate rem from $base-font-size
@function rem($px) {
	@return ($px / $base-font-size) * 1rem;
}

@mixin fontSize($px, $important: false) {
	@if $important {
		font-size: ($px / $base-font-size) * 1rem !important;

		@include media-breakpoint-down(xs) {
			font-size: ($px / $base-font-size-mobile) * 1rem !important;
		}
	} @else {
		font-size: ($px / $base-font-size) * 1rem;

		@include media-breakpoint-down(xs) {
			font-size: ($px / $base-font-size-mobile) * 1rem;
		}
	}
}
