#draggable {
    width: 300px !important;
    height: auto !important;
    border: 1px solid #808080;
    box-shadow: 2px 2px 17px #a6a6a6;
    background-color: #FFF;
    cursor: move;

    flex-direction: column;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    //display: none !important;
    display: flex !important;
    transition: opacity 0.2s linear, visibility 0.2s linear;

    &.hide {
        opacity: 0 !important;
        visibility: hidden !important;
        pointer-events: none !important;
    }

    .front-page-data & {
        @include media-breakpoint-up(md) {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    i {
        margin: 5px 5px 5px auto;
        cursor: pointer;
    }

    .text-container {
        margin: 0 20px;


        a, p {
            font-size: 12px;
        }

        h1, h2, h3, h4 {
            font-size: 15px;
        }
    }

    .image-wrapper {
        margin: 0 20px 20px;
        display: inline-block;

        img {
            width: 100%;
        }
    }
}
