// Define Wordpress Admin Styles
.edit-post-sidebar {
    .acf-field-repeater {
        display: none;
    }
}

.admin-prevent-click {
    cursor: initial;
    pointer-events: none;
}

.editor-writing-flow {
    width: 100%;
}

#tinymce {
    blockquote {
        margin-left: 0;
        padding-left: 20px;
        border-left: 3px solid #000;
    }
}

body#tinymce {
    margin: 12px !important;
    align-items: flex-start;
}


body:not(.role-administrator) {
    #adminmenuwrap {
        #menu-tools,
        #menu-settings,
        #toplevel_page_edit-post_type-acf-field-group,
        #toplevel_page_mlang,
        #toplevel_page_lingotek-translation,
        #menu-appearance,
        #toplevel_page_gadwp_settings {
            display: none;
        }

        .wp-menu-separator {
            display: none;
        }
    }
}

.role-administrator {
    #adminmenuwrap {
        #toplevel_page_redirect_to_customizer {
            display: none;
        }
    }
}

#wpadminbar {
    //z-index: 99999 !important;
    // Remove Comments From Admin Bar
    #wp-admin-bar-my-sites {
        > .ab-sub-wrapper {
            > ul {
                > li {
                    > .ab-item {
                        // display: none;
                        &:before {
                            content: '' !important;
                        }
                    }

                    .ab-sub-wrapper {
                        display: none;
                    }
                }
            }
        }
    }

    #wp-admin-bar-comments,
    //#wp-admin-bar-customize,
    #wp-admin-bar-new-post {
        display: none;
    }
}

// Remove Menu Controls From Customizer Menu
// ---------------------------->
#customize-controls {
    #accordion-panel-widgets,
    #accordion-section-custom_css {
        display: none !important;
    }
}

#available-menu-items {
    #available-menu-items-taxonomy-category,
    #available-menu-items-taxonomy-post_tag,
    #available-menu-items-post_type-post,
    #available-menu-items-post_type-referencies {
        display: none;
    }
}

// ------------------------------>
.edit-post-sidebar {

    .acf-block-fields {
        border-color: transparent !important;
    }

    .acf-field-gallery {
        display: none;
    }
}

.components-notice-list {
    z-index: 1000;
}

.components-notice.is-warning {
    border-left-color: #efa617;
    background-color: #ffdfaa;
}

//.section-mobile, .section-desktop {
//    //height: auto;
//
//    //.image-section {
//    //    padding: 50px 0 !important;
//    //}
//
//    //.text-container {
//    //    padding: 50px 0 !important;
//    //}
//}

.section-desktop {
    //height: 90vh;
    display: block;

    .text-container {
        padding: 50px 0 !important;
    }

    @media screen and (max-width: 1400px) {
        height: 60vh;
    }

    // eauals media-breakpoint-down(sm)
    @media (max-width: 859.98px) {
        display: none;
    }
}

.section-mobile {
    display: none;
    padding: 0 !important;

    //.text-container {
    //    padding: 0 !important;
    //}

    // eauals media-breakpoint-down(sm)
    @media (max-width: 859.98px) {
        display: block;
    }
}

.editor-inner-blocks {
    width: 100%;
}

.wp-block {
    max-width: 100%;
}

@media (min-width: 600px) {
    .block-editor-block-list__block::before {
        left: 0;
        right: 0;
    }
}

@media (min-width: 600px) {
    .edit-post-layout.is-sidebar-opened .editor-post-title, .edit-post-layout.is-sidebar-opened .editor-block-list__layout {
        padding-left: 46px;
        padding-right: 46px;
    }
}

.block-editor-block-list__block .block-editor-block-list__layout {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.acf-gallery-side-data {
    [data-name="alt"],
    [data-name="description"] {
        display: none;
    }
}

.media-sidebar {
    [data-setting="alt"],
    [data-setting="description"] {
        display: none;
    }
}
