@import "variables";

// Autoload
// -------------------->
@import "autoload/**/*";

// Common
// -------------------->
@import "common/**/*";

// Components
// -------------------->
@import "components/**/*";

// Layouts
// -------------------->
@import "layouts/**/*";


.xdebug-var-dump {
    position: absolute;
    z-index: 100000;
    width: 100%;
    background-color: #FFF;
}
