@font-face {
    font-family: 'Patron';
    src: url('../fonts/Patron-Medium.woff2') format('woff2'),
    url('../fonts/Patron-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
