@font-face {
    font-family: 'Patron';
    src: url('../fonts/patron-regular.woff2') format('woff2'),
    url('../fonts/patron-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patron';
    src: url('../fonts/patron-medium.woff2') format('woff2'),
    url('../fonts/patron-medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
