//@font-face {
//    font-family: 'Patron';
//    src: url('../fonts/patrontrial-regular.woff2') format('woff2'),
//    url('../fonts/patrontrial-regular.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Patron';
//    src: url('../fonts/patron-medium.woff2') format('woff2'),
//    url('../fonts/patron-medium.woff') format('woff');
//    font-weight: bold;
//    font-style: normal;
//}

@font-face {
    font-family: 'ApercuRegular';
    src: url('../fonts/apercu_regular.woff2') format('woff2'),
    url('../fonts/apercu_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuMedium';
    src: url('../fonts/apercu_medium.woff2') format('woff2'),
    url('../fonts/apercu_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//@font-face {
//    font-family: 'apercubold';
//    src: url('apercu_bold-webfont.woff2') format('woff2'),
//    url('apercu_bold-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'apercuregular';
//    src: url('apercu_regular-webfont.woff2') format('woff2'),
//    url('apercu_regular-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}
