body {
    font-family: 'ApercuRegular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    transition: color 0.2s ease, border-color 0.2s ease;
    font-family: 'ApercuBold', sans-serif;
    //font-weight: 500;
    color: #000;
    font-size: 15px;
    line-height: 1.4;
    word-break: break-word;

    //@include media-breakpoint-down(sm) {
    //    font-size: 12px;
    //}
}

h1, h2, h3, h4 {
    font-family: 'ApercuMedium', sans-serif;
    font-size: 18px;
    //font-weight: 500;
    letter-spacing: 0.3px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 15px;

    @include media-breakpoint-down(sm) {
        font-size: 17px;
    }
}

p {
    font-family: 'ApercuRegular', sans-serif;
    font-size: 15px;
    line-height: 1.4;

    //@include media-breakpoint-down(sm) {
    //    font-size: 12px;
    //}

    &.big {
        font-size: 22px;
        line-height: 1.4;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }

    &.dark {
        color: #000;
    }
}

b, strong {
    font-family: 'ApercuBold', sans-serif;
    font-weight: normal;
}

span, .span {
    //font-weight: 400;
    font-family: 'ApercuRegular', sans-serif;
}

.wrap.container {
    padding-right: 0;
    padding-left: 0;

    //@include media-breakpoint-down(sm) {
    //    padding-right: 0;
    //    padding-left: 0;
    //}
}

.empty-block {
    display: none;
}
